@import "normalize.css";
@import "nouislider.css";
@import "buttons.css";
@import "forms.css";
@import "../components/Minimap/index.css";
@import "../components/TimeSlider/index.css";
@import "../components/PlayerTable/index.css";

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 1200px;
  margin: 0 auto;
  color: #777;
  letter-spacing: 0.01em;
}

h1, h2 {
  color: #4b4b4b;
}

.float-left {
  float: left;
}

.hello-friends {
  width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 0 0 2px 2px;
}

.hello-friends button {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.loading-bar {
  width: 1200px;
}

.loading-bar .progress {
  height: 30px;
  background-color: #5eb95e;
  border-radius: 2px;
}

.overview {
  position: relative;
}

.play-button {
  width: 85px;
  position: absolute;
  top: -8px;
  right: 0;
}

.speed-form {
  float: right;
}

.fineprint {
  font-size: 12px;
}
