.player-table ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.player-table li {
  display: block;
  border-bottom: 1px solid #eee;
  width: 600px;
  height: 120px;
  padding: 5px;
}

.player-table li:last-child {
  border-bottom: 0;
}

.player-table .team-stats {
  height: 50px;
}

.player-table .team-stats span {
  margin-right: 15px;
  padding-top: 10px;
  float: left;
}

.player-table .team-stats.team-100 span {
  float: right;
}

.player-table .team-stats .team-kills {
  padding-top: 5px;
  font-size: 24px;
}

.player-table .player-level {
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  position: relative;
  top: -25px;
  left: 5px;
}

.player-table .player-icon {
  width: 64px;
  height: 64px;
}

.player-table .player-icon > img {
  width: 64px;
  height: 64px;
  margin-top: 12px;
}

.player-table .player-summoners {
  width: 44px;
  height: 20px;
  margin-top: -17px;
  margin-left: 10px;
}

.player-table .player-summoners img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

.player-table .player-name {
  color: #4b4b4b;
}

.player-table .player-details {
  margin-left: 10px;
}

.player-table .player-details-right {
  margin-top: 20px;
}

.player-table .player-details .item-icon {
  margin-right: 2px;
}

.player-table .player-details .item-icon-trinket {
  margin-left: 3px;
}

.player-table .player-details .player-items img {
  width: 32px;
  height: 32px;
}

.player-table .player-details .player-health {
  width: 275px;
  height: 15px;
  margin-bottom: 10px;
  background-color: #4b4b4b;
  position: relative;
}

.player-table .player-details .health-bar {
  background-color: #1cb841;
  height: 15px;
  transition: width 0.2s;
}

.player-table .player-details .mana-bar {
  background-color: #0078e7;
}

.player-table .player-details .health-text {
  position: absolute;
  color: white;
  top: 0;
  text-align: center;
  width: 275px;
  font-size: 12px;
}
